<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        body table td {
            padding: 0px 60px 0px 60px !important;
        }

        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
        }
    </style>
</head>

<body style="background: #fff">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="#ffffff" align="center" style="padding: 20px 15px 30px 15px !important;"
                class="section-padding">
                <table border="0" cellpadding="40" cellspacing="0" width="100%"
                    style="max-width: 700px;border: 1px solid #cccccc;border-radius: 5px !important;"
                    class="responsive-table">
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr style="margin-top: 5px !important;">
                        <td>
                            <img src="https://i.ibb.co/H4Wvchg/ofraldario.webp" width="170px" height="50px"
                                alt="Fraldario Logo" alt="ofraldario" border="0">
                        </td>
                        <td>
                            <p
                                style="margin: 0;text-align: right !important;font-size: 13px;font-weight: 500;color: #888;">
                                {data?.created_at}</p>
                            <p
                                style="float: right;margin: 0;text-align: right !important;font-size: 13px;font-weight: 500;color: #888;">
                                ${data?.id.slice(0, 12)}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 style="margin: 5px 0 0 0;font-size: 18px;font-weight: 900 !important;">
                                {data?.student_name}
                            </h3>
                            <span style="font-size: 14px;">{data?.email}</span>
                        </td>
                        <td>
                            <p style="margin: 0;text-align: right !important;font-size: 13px;font-weight: 700;">
                                Comportamento: {data?.behavior}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1
                                style="font-size: 16px;margin-top: 20px !important;padding-bottom: 4px; border-bottom: 1px solid #ddd;">
                                Refeições</h1>
                        </td>
                        <td>
                            <h1
                                style="font-size: 16px;margin-top: 20px !important;margin-left: auto !important;padding-bottom: 4px; border-bottom: 1px solid #ddd;">
                                Porção</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Pequeno-almoço:</b> {data?.pequeno_almoco}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_pequeno_almoco}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Almoço: 1º</b> {data?.almoco1}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_almoco1}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Almoço: 2º</b> {data?.almoco2}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_almoco2}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Sobremesa:</b> {data?.sobremesa}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_sobremesa}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Lanche:</b> {data?.lanche}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_lanche}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Extras: 1º</b> {data?.extras1}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_extras1}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Extras: 2º</b> {data?.extras2}</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.porcao_extras2}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 15px 0px 15px !important;"><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;">Fezes:</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.fezes}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;">Vômitos:</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.vomitos}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;">Febres:</p>
                        </td>
                        <td>
                            <p style="margin: 0;">{data?.febres}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 15px 0px 15px !important;"><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;"><b>Outras ocorrências:</b> {data?.message}</p>
                        </td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 20px 20px 0px 20px !important;" class="section-padding">
        <table border="0" cellpadding="0" cellspacing="0" width="100%"
            style="max-width: 650px;border: 1px solid #dddddd;border-radius: 10px !important;padding: 10px 5px 20px 5px;"
            class="responsive-table">
            <!-- <tr> -->
            <!-- <td> -->
            <tr>
                <td style="padding: 0px 0px 0px 15px !important;">
                    <h1 style="font-size: 15px;margin: 5px 0 10px 0px !important;padding: 0px 0px 4px 0px;">
                        Porção</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 15px 0px 15px !important;">
                    <p style="margin: 0;font-size: 13px;">Pequeno-almoço:
                    </p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_pequeno_almoco}</p>
                </td>
            </tr>
            ${data?.porcao_extras1 !== "" && data?.porcao_extras1 !== null && data?.porcao_extras1 !== undefined
            ? `<tr>
                <td style='padding: 10px 15px 0px 15px !important;'>
                    <p style='margin: 0;font-size: 13px;'>Refeição especial:</p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_extras1}</p>
                </td>
            </tr>`
            : ``
            }
            <tr>
                <td style='padding: 10px 15px 0px 15px !important;'>
                    <p style="margin: 0;font-size: 13px;">1º Almoço:</p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_almoco1}</p>
                </td>
            </tr>
            <tr>
                <td style='padding: 10px 15px 0px 15px !important;'>
                    <p style="margin: 0;font-size: 13px;">2º Almoço:</p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_almoco2}</p>
                </td>
            </tr>
            <tr>
                <td style='padding: 10px 15px 0px 15px !important;'>
                    <p style='margin: 0;font-size: 13px;'>Sobremesa:</p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_sobremesa}</p>
                </td>
            </tr>
            ${data?.porcao_extras2 !== "" && data?.porcao_extras2 !== null && data?.porcao_extras2 !== undefined
            ? `<tr>
                <td style='padding: 10px 15px 0px 15px !important;'>
                    <p style='margin: 0;font-size: 13px;'>Refeição especial:</p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_extras2}</p>
                </td>
            </tr>`
            : ``
            }
            <tr>
                <td style='padding: 10px 15px 0px 15px !important;'>
                    <p style='margin: 0;font-size: 13px;'>Lanche:</p>
                    <p
                        style="width: 100%;margin: 4px 0 0 0;font-size: 13px;padding: 8px 10px 8px 10px; border-radius: 8px; border: 1px solid #cccccc;">
                        ${data?.porcao_lanche}</p>
                </td>
            </tr>
        </table>
    </td>
</tr>

</html>